__pycache__/
*.py[cod]
*.egg-info/
.dist/
build/
.env
.venv
venv/
.idea/
.vscode/
.pytest_cache/
.DS_Store

# Kubernetes secrets
service/k8s/secrets.yml

# Terraform state files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
!terraform/*.tfvars.example